/* Global Font Styling */
body {
    font-family: 'Times New Roman', serif;
    scroll-behavior: smooth; 
    background-size: cover; 
    background-attachment: fixed;
    background-position: center; 
}


.nav-link.active {

    @apply text-blue-800 bg-blue-100;
}

/* Hide mobile menu by default */
.mobile-menu {
    display: none;
}

/* Show mobile menu when 'active' class is present */
.mobile-menu.active {
    display: flex;
}

